:root {
  --back: #202020;
}

a{
  text-decoration: none;
  color: #2cce00;
}
a:hover {
  color: red;
}
a:visited {
  text-decoration: none;
}
input,select{
  font-family: 'Poppins', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
hr{
  border: none;
  border-bottom: 1px solid var(--no4);
}
code{
  background-color: rgba(255,255,255,0.4);
  padding: 0px 3px;
  border-radius: 4px;
}

@media screen and (min-width: 40em) {
  html{
    width:100%;
    margin: 0px auto;
  }
  body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: #1B2430;
    color: #D6D5A8;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width:100%;
  }
  .section{
    width:100%;
  }
  .head{
    background: #51557E;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.8);
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 6px 6px;
  }
  .body{
    max-width: 1200px;
    margin: 0px auto;
  }
  .title{
    font-size: 30px;
    padding: 5px 10px;
  }
  .menu{
    padding-right: 10px;
    font-size: 20px;
  }
  .menu a{
    background-color: #06283D;
    padding: 5px 10px;
    margin: 0px 2px;
    border-bottom: 2px solid #06283D;
    border-radius: 3px;
  }
  .menu a:hover{
    background-color: #BD4291;
    border-bottom: 2px solid #D6D5A8;
    color: #D6D5A8;
  }
  .sec-title{
    font-size: 24px;
    padding: 5px 10px;
    padding-top: 20px;
  }
  .flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .item{
    box-shadow: 0px 4px 8px black;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
  }
  .item:hover{
    box-shadow: 0px 4px 8px #51557E;
    border-radius: 5px;
    margin: 5px;
  }
  .menu-item{
    padding: 3px 10px;
    cursor: pointer;
    border-radius: 5px 0px 0px 5px;
    position: relative;
  }
  .menu-item:hover{
    background-color: rgba(0,0,0,0.7);
    color: white;
  }
  .menu-item .tooltiptext {
    visibility: hidden;
    max-width: 400px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 110%;
    transform: translateY(-50%);
  }
  .menu-item:hover .tooltiptext {
    visibility: visible;
  }
  .name{
    font-size: 40px;
    font-weight: 600;
    margin: 20px 0px;
  }
  h3{
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0px;
  }
  .white{
    background-color: white;
    color: black;
    padding: 30px 0px;
  }
  .white-inner{
    max-width: 1200px;
    padding: 10px;
    margin: 0px auto;
  }
  .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .inners{
    width: 100%;
  }
  .inner70{
    width: 70%;
  }
  .inner30{
    width: 30%;
  }


}

@media screen and (min-width: 0em) and (max-width: 40em) {
  html{
    width:100%;
    margin: 0px auto;
  }
  body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: var(--no1);
    color: var(--no4);
    font-size: 14px;
    margin: 0;
    padding: 0;
    width:100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}
